
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Post</h1>

<f:flashMessages />

<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{itemsPerPage: 4, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 5}">
	<div class="row">
		<f:for each="{paginatedPosts}" as="post">
			<f:render partial="Post/Card" arguments="{post:post}" />
		</f:for>
	</div>
</f:widget.paginate>
</f:section>