
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Auteurs</h1>

<f:flashMessages />

<div class="row">
	<f:for each="{authors}" as="author">
	<div class="author panel panel-default col-md-4">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<f:image src="{author.image.originalResource.publicUrl}" width="100"/>
				</div>
				<div class="col-md-6">
					<h4><f:link.action action="show" arguments="{author : author}"> {author.username}</f:link.action>
					</h4>
					<p>({author.firstName} {author.lastName})</p>
				</div>
			</div>
			<div class="row">
				<p>{author.presentation}</p>
			</div>
		</div>
	</div>
</f:for>
</div>
</f:section>