<div class="page-header">
	<h1>{post.title}</h1>
	<p>{post.publicationDate -> f:format.date(format: '%d %B %Y')}</p>
</div>

<div class="row">
	{post.summary -> f:format.html()}
</div>
<div class="row">
	<f:image src="{post.image.originalResource.publicUrl}" width="200"/>
</div>
<div class="row">
	{post.content}
</div>

<div class="row lists">

	<div class="panel panel-default col-md-6">
		<div class="panel-heading">
			<h3 class="panel-title">Catégories</h3>
		</div>
		<div class="panel-body">
			<ul class="taglist">
				<f:for each="{post.categories}" as="category">
					<li>
						<div class="tag orange">
							{category.name}
						</div>
					</li>
				</f:for>
			</ul>
		</div>
	</div>

	<div class="panel panel-default col-md-6">
		<div class="panel-heading">
			<h3 class="panel-title">Tags</h3>
		</div>
		<div class="panel-body">
			<ul class="taglist">
				<f:for each="{post.tags}" as="tag">
					<li>
						<div class="tag teal">
							{tag.name}
						</div>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
	
</div>

